.App {
  height: 100vh;
} 


.bluePart {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 37, 53);
  font-family: Arial, Helvetica, sans-serif;
  
}

nav {
  display: flex;

}

#logoIronhack {
  flex: 1; 
}


#menu-top {
  flex: 1; 
}

#logoIronhack img {
  display: block;
  margin-top: 3em;
  margin-left: 5em;
  margin-right: auto; 
}



#menu-top img {
  display: block;
  margin-top: 3em;
  margin-left: auto;
  margin-right: 5em; 
}


.milieu {
  color: white;
  margin-left: 5em;
  margin-right: 50%;
  background-image: url("/images/react-logo.svg")
}


.milieu h1 {
  font-size: 6em;
  margin-bottom:0;
  
}


.milieu p {
  font-size: 1.5em;
  color: grey;
  margin-top: 0;
  width: 16em;
  margin-bottom: 3em;
  
}

#awesome {
  padding: 1em 1.8em;
  background-color: white;
  color: rgb(31, 37, 53);
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3em;

}


.iconsBox {
  display: flex;
  justify-content: space-around;

}

.icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}


.icon h2 {
  text-align: center;
  color: rgb(31, 37, 53);
  font-size: 2.5em;
}

.icon p {
  margin-left: 1em;
  margin-right: 1em;
  color: grey;
  font-size: 1.5em;

}